[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vim/vim-snippets"]
	path = vim/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "vim/bundle/tpope-vim-surround"]
	path = vim/bundle/tpope-vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
